<div class="row">

    <div class="col-lg-12">
        <section class="panel default blue_title h2">

            <div class="panel-heading border center">
                <span ng-click="$state.go('surveys')"  tooltip-placement="right" tooltip="Back to survey list" class="pointer pull-left label label-info">
                    <i class="fa fa-arrow-left"></i>
                </span>

                {{ selected_survey.survey_name || 'Survey'}}

                <div class="dropdown pull-right" >
                    <button class="btn btn-primary dropdown-toggle" style="color: white !important;" type="button" data-toggle="dropdown">  Options
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="text-transform : none !important; text-align: left !important;">

                        <li ng-show="selected_survey.question_tree"><a ui-sref="surveys.respondents({survey_id : selected_survey.id })"><i class="fa fa-send"></i> Send Survey</a></li>
                        <li class="divider" ng-show="selected_survey.question_tree"></li>
                        <li ><a ui-sref="surveys.form_builder({survey_id : selected_survey.id })"><i class="fa fa-pencil"></i> Add/Edit Questionnaire</a></li>
                        <li class="divider"></li>
                        <li edit-survey="{{ selected_survey.id }}"><a href=""><i class="fa fa-edit"></i> Edit Survey</a></li>
                        <li class="divider"></li>
                        <li delete-survey="{{ selected_survey.id }}"><a href=""><i class="fa fa-times"></i> Delete Survey</a></li>
                        <li class="divider"></li>
                        <li ng-click="reloadSurveyData()"><a href=""><i class="fa fa-refresh"></i> Refresh Survey</a></li>
                        <li class="divider"></li>
                        <li ng-click="reloadAnswers()"><a href=""><i class="fa fa-refresh"></i> Reload Answers</a></li>
                        <li class="divider"></li>
                    </ul>
                </div>
                <!--<span   tooltip-placement="left" tooltip="Refresh" class="pointer pull-right label label-success">-->
                <!--</span>-->

                <br>
                <small class="text-center">Total Responses : <span ng-bind="selected_survey.answers"></span></small>
            </div>
        </section>
    </div>

    <!--this will display whe the survey has gotten no response yet-->
    <div class="col-md-12 fill_white" ng-hide="selected_survey.question_tree">
        <div class="block-web">
            <h4 style="margin: 25px 0" class="text-center">No questions created for this survey.</h4>
            <br>            <br>            <br>
            <button class="btn btn-success center-block col-xs-2" style="display: block" ui-sref="surveys.form_builder({survey_id : selected_survey.id })">
                Add Questions</button>
        </div>
    </div>

    <!--Section for listing all the questions in the selected survey-->
    <div class="col-md-6" ng-show="selected_survey.question_tree">
        <div class="widget_inbox">

            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="2" min-scrollbar-length="6">
                <ul>
                    <li ng-repeat="question_item in selected_survey.question_tree track by $index">
                        <a ng-click="selectQuestion(question_item)" href="" ng-class="{'active' : question_item.cid == selected_question.cid }">
                            <div class="widget_inbox_header">
                                <span class="pull-left widget_inbox_time badge"><b>{{ $index + 1 }}</b>.</span>
                            <span class="widget_inbox_time">
                                &nbsp;&nbsp;
                            {{ formatFieldType[question_item.field_type] }}
                            </span>
                            </div>
                            <span style="font-size: large; margin-left: 25px">{{ question_item.label }}</span></a>
                    </li>
                </ul>
            </perfect-scrollbar>

        </div>
    </div>

    <!--Section for responses of the survey-->
    <div class="col-md-6" ng-show="selected_survey.question_tree">

        <!--Section for  charting. Includes tabs for car, pie and column chart-->
        <div ng-show="selected_question.type === 'closed' " class="widget_inbox">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4 class="panel-title text-center">{{ selected_question.label }}</h4>
                    <div class="row">
                        <div class="col-md-5 col-sm-3 pull-left" style="margin-top: 10px">
                            <small class="text-white-important" style="font-size: 12px !important; margin-top: 15px">
                                Response<span ng-show="selected_question.answers > 1">s</span>&nbsp;:&nbsp;
                                <b ng-bind="selected_question.answers"></b>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <tabset   justified="true">

                        <tab select="changeChartType('bar')">
                            <tab-heading>
                                <i class="fa fa-list-ul"></i> Bar Chart
                            </tab-heading>

                            <span am-chart="" chart-type="bar"  chart-data="$parent.$parent.chartData" title-field="country" value-field="visits"></span>


                        </tab>

                        <tab select="changeChartType('pie')">
                            <tab-heading>
                                <i class="fa fa-pie-chart"></i> Pie Chart
                            </tab-heading>
                            <span am-chart="" chart-type="pie" chart-data="chartData" title-field="country" value-field="visits"></span>
                        </tab>


                        <tab select="changeChartType('column')">
                            <tab-heading>
                                <i class="fa fa-bar-chart"></i> Column Chart
                            </tab-heading>
                            <span am-chart=""  chart-type="column" chart-data="chartData" title-field="country" value-field="visits"></span>
                        </tab>
                    </tabset>
                </div>
            </div>

        </div>

        <!--Section for  listing answers when the charts won't work-->
        <div class="row" ng-show="selected_question">
            <div ng-show="selected_question.type === 'opened' ">

                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <h4 class="panel-title text-center">{{ selected_question.label }}</h4>
                        <div class="row">
                            <div class="col-md-5 col-sm-3 pull-left" style="margin-top: 10px">
                                <small class="text-white-important" style="font-size: 12px !important; margin-top: 15px">
                                    Response<span ng-show="(selected_question.answers | filter : {content : searchResponse }).length > 1">s</span>&nbsp;:&nbsp;
                                    <b ng-bind="(selected_question.answers | filter : {content : searchResponse }).length"></b>
                                </small>
                            </div>
                            <div class="col-md-1 col-sm-2 pull-right" style="margin-top: 10px">
                                <button tooltip="Sort responses by date" class="btn btn-link pull-right text-center center-block"
                                        ng-init="reverse = true" ng-click="reverse = !reverse"><i class="fa fa-sort text-white-important"></i></button>
                            </div>
                            <div class="col-md-4 col-sm-6 pull-right search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" ng-model="searchResponse" ng-init="searchResponse = '' " class="form-control" id="search" placeholder="Search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0 !important;">

                        <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="2" min-scrollbar-length="5">

                            <!--List for text or straight forward open answers-->
                            <ul ng-show="selected_question.answers.length" class="media-list">
                                <li class="media answer-list" style="" ng-repeat="response in selected_question.answers | filter : {content : searchResponse } | orderBy : 'created_at' : reverse"><!-- limitTo : 15-->
                                    <a >
                                        <p>
                                            <span ng-show="selected_question.field_type != 'date' "><strong>{{ response.content }}</strong><!--| limitTo : 100 }}--> <br></span>
                                            <span ng-show="selected_question.field_type == 'date' "><strong>{{ formatDate( response.content, true) || 'invalid date format' }}</strong><!--| limitTo : 100 }}--> <br></span>
                                            <time class="text-muted timestamp time pull-right" tooltip="Date submitted : {{ response.created_at || 'unavailable' }}">{{ fromNow ( response.created_at) }}</time></p>
                                    </a> </li>
                            </ul>

                            <!--List for image type responses-->
                            <ul ng-show="selected_question.answers.length" ng-if="selected_question.answer_format_type == 'image'" class="media-list">
                                <li class="media answer-list" style="" ng-repeat="response in selected_question.answers | limitTo : 3"> <a href="">
                                    <div class="col-sm-6">
                                        <div class="contact_people">
                                            <a href="#"><img ng-src="{{ response.url }}" width="250px"></a>
                                        </div>
                                    </div>
                                </a> </li>
                            </ul>

                            <!--List for map location coordinates-->
                            <ul ng-show="selected_question.answers.length" ng-if="selected_question.answer_format_type == 'location'" class="media-list">
                                <li class="media answer-list" style="" ng-repeat="response in selected_question.answers | limitTo : 6"> <a href="">
                                    <p> Longitude : <strong>{{ response.longitude }}</strong>, Latitude : <strong>{{ response.latitude }}</strong><br>
                                        <i class="text-muted" title="Business Name">{{ response.business_name }}</i>
                                        <i class="text-muted pull-right" title="Submission date">({{ fromNow ( response.submitted_date) }})</i>
                                    </p>
                                </a> </li>
                            </ul>

                        </perfect-scrollbar>


                        <h4 ng-hide="selected_question.answers.length" class="text-center" style="margin: 5% 0">No responses submitted!</h4>
                    </div>
                </div>

                <button class="text-center hidden col-sm-6 col-sm-offset-3 btn btn-primary btn-lg" ng-click="$state.go('surveys.analytics', {survey : surveyName, form_id : surveyFormId, index : selected_question.index })">
                    View More Details</button>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-show="(selected_survey.question_tree && (!selected_question))" >
        <div class="widget_inbox">
            <h3 style="margin-top: 30%" class="text-center" ><i class="fa fa-arrow-left"></i>  Select a question on the left</h3>
        </div>
    </div>
</div>

