<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
        <h4 class="modal-title"> Delete Survey</h4>
    </div>
    <div class="modal-body">
        <h6>Are you sure you want to delete the survey with name : </h6>
        <h5>{{ selected_survey.survey_name}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="deleteSurvey()">Delete Survey</button>
    </div>
</div>