<div class="modal-content" ng-controller="BwPublicSignUpModalController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><i class="fa fa-lock"></i>  Sign Up</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" name="punterRegistrationForm" role="form" ng-submit="registerPunter(punterRegistrationForm.$valid)">
                    <fieldset>

                        <!--Email-->
                        <div class="form-group" ng-class="{'has-error  mag-bottom-5' : submittingRegistrationForm && punterRegistrationForm.email.$error.email || validation.email || submittingRegistrationForm && punterRegistrationForm.email.$error.required }">
                            <div class="col-sm-12">
                                <input  type="email" id="email" placeholder="Email" ng-model="punter_register_form.email" name="email"
                                        ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/" class="form-control" required="">
                                <span class="help-block text-left mag-bottom-25" ng-show="submittingRegistrationForm && punterRegistrationForm.email.$error.email">Email address is not valid</span>
                                <span class="help-block text-left mag-bottom-25" ng-show="validation.email">{{ validation.email }}</span>
                            </div>
                        </div><!-- End .input-group -->

                        <!--Username-->
                        <div class="form-group " ng-class="{'has-error  mag-bottom-5' : validation.username || submittingRegistrationForm && punterRegistrationForm.username.$error.required }">
                            <div class="col-sm-12">
                                <input type="text" id="username" placeholder="Username" name="username"
                                       ng-minlength="4"
                                       minlength="4"
                                       ng-model="punter_register_form.username" class="form-control " required="">
                                <span class="help-block text-left mag-bottom-25" ng-show="validation.username">{{validation.username}}</span>
                            </div>
                        </div><!-- End .input-group -->




                        <!--Phone number-->
                        <div class="form-group " ng-class="{'has-error  mag-bottom-5' : validation.phone_number || submittingRegistrationForm && punterRegistrationForm.phone_number.$error.required }">
                            <div class="col-sm-12">
                                <input type="text" name="phone_number" id="phone_number"
                                       ng-maxlength="13" maxlength="13"
                                       ng-minlength="10" minlength="10"
                                       placeholder="Phone Number" ng-model="punter_register_form.phone_number"  class="form-control" required="">
                                <span class="help-block text-left mag-bottom-25" ng-show="submittingRegistrationForm &&  punterRegistrationForm.phone_number.$error.required">Please enter a valid phone number starting with +233, without the '0'.</span>
                                <span class="help-block text-left mag-bottom-25" ng-show="validation.phone_number">{{validation.phone_number}}</span>
                            </div>


                        </div><!-- End .input-group -->


                        <!--Password-->
                        <div class="form-group " ng-class="{'has-error  mag-bottom-5' : validation.password || submittingRegistrationForm && punterRegistrationForm.password.$error.required }">
                            <div class="col-sm-12">
                                <input type="password" id="password" placeholder="Password " name="password"
                                       minlength="6"
                                       ng-minlength="6"
                                       ng-model="punter_register_form.password" class="form-control " required="">
                                <span class="help-block text-left mag-bottom-25" ng-show="validation.password">{{validation.password}}</span>
                            </div>
                        </div><!-- End .input-group -->


                        <!--<div class="form-group" ng-class="{'has-error  mag-bottom-5' : validation.date_of_birth || submittingRegistrationForm && punterRegistrationForm.date_of_birth.$error.required }">-->
                            <!--&lt;!&ndash;<label for="date_of_birth">Date of Birth<span class="required">*</span></label>&ndash;&gt;-->
                            <!--<div class="col-sm-12">-->
                                <!--<input id="date_of_birth" type="text"-->
                                       <!--placeholder="Your date of birth"-->
                                       <!--name="date_of_birth" ng-model="punter_register_form.date_of_birth" class="form-control datepicker"-->
                                       <!--ng-init="statePickADate()" data-value="{{punter_register_form.date_of_birth}}">-->
                            <!--<span class="help-block text-left mag-bottom-25" ng-show="validation.date_of_birth">{{validation.date_of_birth}}</span>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; End .input-group &ndash;&gt;-->



                        <div class="text-center col-sm-12">
                            <div class="custom-checkbox">
                                <!--<input id="agree_to_terms" type="checkbox" name="terms_and_conditions" required=""-->
                                <!--ng-model="punter_register_form.agree_to_terms"> <span class="checbox-container">-->
                                <!--</span>-->
                                <!--I wish to subscribe to the Bid2Win newsletter.-->
                                <!--<span style="margin-left: 15px ">I have read and agree to the <a ui-sref="public_home.privacy_policy">Privacy Policy</a>.</span>-->
                                <span>By clicking "SIGN ME UP", you agree to our
                                    <a ui-sref="public_home.privacy_policy" ng-click="cancel()">Privacy Policy</a>
                                    and
                                    <a ui-sref="public_home.terms_conditions" ng-click="cancel()">Terms and Conditions</a>
                                </span>
                            </div><!-- End .input-group -->
                        </div>

                        <div class="row margin-top-15">
                            <!--<div class="col-xs-12 text-center">-->
                            <button type="submit"  class="btn btn-success col-xs-10 center-block" ng-disabled="submittingRegistrationFormLoader" >
                                <span ng-hide="submittingRegistrationFormLoader">SIGN ME UP</span>
                                <span ng-show="submittingRegistrationFormLoader"><i class="fa fa-spinner fa-spin"></i>  Processing Sign Up...</span>
                            </button>
                            <!--</div>&lt;!&ndash; End .col-md-6 &ndash;&gt;-->
                        </div><!-- End .row -->

                        <pre>{{ punter_register_form | json }}</pre>

                    </fieldset>
                </form>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->

        <hr class="hr1">

        <div class="row" style="margin-top: 20px">
            <!---->
            <!--href="/facebook/login" target="_blank"-->
            <button class="facebook btn btn-sm btn-facebook center-block col-xs-10"  social-media-login="facebook"><i class="fa fa-facebook-official"></i>   Register with Facebook</button>
            <div style="margin: 15px 0"></div>
            <button class="btn-foursquare btn-sm btn center-block col-xs-10" social-media-login="foursquare"><i class="fa fa-foursquare"></i>  Register with Foursquare</button>
        </div>
    </div>
    <div class="modal-footer hidden">
        <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        <button  class="btn btn-primary">Save</button>
    </div>
</div>

