<div class="ticket_open">
    <div class="ticket_open_heading">
        <h3 class="pull-left"><span class="semi-bold"><label for="settings">Settings</label> </span></h3>
        <div class="ticket_open_search hidden">
            <div class="input-group">
                <input id="settings" type="text" class="form-control" placeholder="Search settings">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="ticket_open_comment">
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-group"><i class="fa fa-cog"></i></div>
                <span>Theme</span>

                <p>Change the theme of the dashboard. <b>This will be saved to this browser ONLY</b></p>
            </div>
            <div class="col-sm-3">
                 <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
          {{ themeChoice.name }}
      </a>
      <ul class="dropdown-menu">
          <li ng-repeat="choice in themes">
              <a class="pointer" ng-click="changeTheme(choice)">{{ choice.name }}</a>
          </li>
      </ul>
    </span>
            </div>
        </div>
    </div>


    <div class="ticket_open_comment">
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-group"><i class="fa fa-cog"></i></div>
                <span>Header</span>

                <p>{{ headerChoice.description }} <b>  This will be saved to this browser ONLY</b></p>
            </div>
            <div class="col-sm-3">
                 <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
          {{ headerChoice.name }}
      </a>
      <ul class="dropdown-menu">
          <li ng-repeat="choice in headerOptions">
              <a class="pointer" ng-click="changeHeaderType(choice)">{{ choice.name }}</a>
          </li>
      </ul>
    </span>
            </div>
        </div>
    </div>

    <div class="ticket_open_comment">
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-group"><i class="fa fa-cog"></i></div>
                <span>Navigation</span>

                <p>{{ navChoice.description }}<b>  This will be saved to this browser ONLY</b></p>
            </div>
            <div class="col-sm-3">
                 <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
          {{ navChoice.name }}
      </a>
      <ul class="dropdown-menu">
          <li ng-repeat="choice in navOptions">
              <a class="pointer" ng-click="changeNavType(choice)">{{ choice.name }}</a>
          </li>
      </ul>
    </span>
            </div>
        </div>
    </div>

    <div class="ticket_open_comment">
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-group"><i class="fa fa-cog"></i></div>
                <span>Local Storage</span>

                <p>Reset and clear local storage to default.</p>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default" ng-click="clearStorage()">Reset</button>
            </div>
        </div>
    </div>

</div>