<div class="col-sm-12">
    <div class="block-web">
        <div class="header">
            <div class="actions hidden">
                <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
            <h3 class="content-header">Survey Respondents
                <span ng-click="$state.go('surveys')"  tooltip-placement="left" tooltip="Back to survey list" class="pointer pull-right label label-info"><i class="fa fa-arrow-left"></i></span>
            </h3>
        </div>
        <tabset justified="true" type="pills">
            <tab>
                <tab-heading>
                    <i class="fa fa-envelope"></i>  Email
                </tab-heading>
                <div class="porlets-content">
                    <h3 class="page-header" style="margin-top: 3px !important;">Email Respondents</h3>

                    <div class="row">
                        <form  role="form" class="col-md-6 col-sm-8 col-xs-12 center-block form-horizontal" ng-submit="sendEmail()">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left " for="from">From</label>
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" ng-disabled="true" ng-model="respondent_form.from_email" id="from" class=" form-control" >
                                </div>
                            </div><!--/form-group-->
                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left">Survey</label>
                                <div class="col-sm-8 col-xs-12">
                                    <select title="selectSurvey" name="selectSurvey" data-ng-model="respondent_form.survey_url" class=" form-control"
                                            ng-options="survey.survey_unique_public_url as survey.survey_name for survey in surveys">
                                        <option value="">Select a survey</option>
                                    </select>
                                </div><!--/col-sm-9-->
                            </div><!--/form-group-->
                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left" for="emails">Recipients</label>
                                <div class="col-sm-8 col-xs-12">
                                    <tags-input
                                            ng-model="respondent_form.emails"
                                            displayProperty="email"
                                            type="email"
                                            placeholder="Add recipient email"
                                            add-on-enter="true"
                                            add-on-space="true"
                                            add-on-comma="true"
                                            add-on-blur="true"
                                            add-on-paste="true"
                                            allowed-tags-pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$"
                                            id="emails" class=""></tags-input>
                                    <span class="help-block text-primary" style="font-style: italic">Separate multiple email addresses with [COMMA] or [SPACE] or [TAB]</span>
                                </div>


                            </div><!--/form-group-->


                            <div class="form-group">
                                <div class="col-sm-4 col-xs-6 pull-right">
                                    <button class="hidden btn btn-default" type="reset" ng-click="resetRespondentForm()">Cancel</button>
                                    <button class="btn  pull-right" ng-class="{true : 'btn-default', false : 'btn-primary'}[sendingEmails]" type="submit" data-ng-disabled="sendingEmails">
                                        <span ng-if="!(sendingEmails)">Send Mail</span>
                                        <span ng-if="sendingEmails">Sending mails, hang on...</span>
                                    </button>
                                </div>
                            </div><!--/form-group-->
                        </form>
                    </div>
                </div><!--/porlets-content-->
            </tab>

            <tab>
                <tab-heading>
                    <i class="fa fa-comments"></i> SMS
                </tab-heading>
                <div class="porlets-content">
                    <h3 class="page-header" style="margin-top: 3px !important;">SMS Respondents</h3>
                    <div class="row">
                        <form role="form" class="col-md-6 col-sm-8 col-xs-12 center-block form-horizontal" ng-submit="sendSMS()">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left " for="sms_from">From</label>
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" ng-disabled="true" ng-model="sms_respondent_form.from_phone_number" id="sms_from" class=" form-control" >
                                </div>
                            </div><!--/form-group-->
                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left">Survey</label>
                                <div class="col-sm-8 col-xs-12">
                                    <select data-ng-model="sms_respondent_form.survey_url" class=" form-control"
                                            ng-options="survey.survey_unique_public_url as survey.survey_name for survey in surveys">
                                        <option value="">Select a survey</option>
                                    </select>
                                </div><!--/col-sm-9-->
                            </div><!--/form-group-->
                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label text-left" for="phone_numbers">Recipients</label>
                                <div class="col-sm-8 col-xs-12">
                                    <tags-input
                                            ng-model="sms_respondent_form.phone_numbers"
                                            displayProperty="number"
                                            type="text"
                                            placeholder="Add phone number"
                                            add-on-enter="true"
                                            add-on-space="true"
                                            add-on-comma="true"
                                            add-on-blur="true"
                                            add-on-paste="true"
                                            allowed-tags-pattern="^\+(?:[0-9]●?){6,14}[0-9]$"
                                            id="phone_numbers" class="">
                                    </tags-input>
                                    <span class="help-block text-primary" style="font-style: italic"><b>Numbers should start with a plus sign(+), followed by the country code and national number</b></span><br>
                                    <span class="help-block text-primary" style="font-style: italic">Separate multiple phone numbers with [COMMA] or [SPACE] or [TAB]</span>
                                </div>


                            </div><!--/form-group-->


                            <div class="form-group">
                                <div class="col-sm-4 col-xs-6 pull-right">
                                    <button class="hidden btn btn-default" type="reset" ng-click="resetRespondentForm()">Cancel</button>
                                    <button class="btn btn-primary pull-right" type="submit">Send</button>
                                </div>
                            </div><!--/form-group-->
                        </form>
                    </div>
                </div><!--/porlets-content-->
            </tab>
        </tabset>
    </div><!--/block-web-->
</div>
