<div class="modal-content" ng-controller="PGPublicLoginController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><i class="fa fa-unlock"></i>  Login</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" ng-submit="loginUser()">
                    <fieldset>

                        <!--Username-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" id="username" placeholder="Username"
                                       ng-model="user_login_form.username" class="form-control input-sm" required="">
                            </div>
                        </div>

                        <!--Password-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class=" has-feedback" style="display: block">
                                    <input type="password" id="password" placeholder="Password"  ng-model="user_login_form.password" class="form-control input-sm" required="">
                                    <!--<span class="form-control-feedback" aria-hidden="true" style="width: 120px!important;"><a href="" reset-password="" > Forgot password?</a></span>-->
                                </div>
                                <p class="help-block text-center" reset-password="" ng-click="cancel()" ><a href="">I forgot my password.</a></p>
                            </div>
                        </div>

                        <div class="row margin-top-15">
                            <!--<div class="col-xs-12 text-center">-->
                                <button type="submit"  class="btn btn-warning col-xs-10 center-block" ng-disabled="submittingLoginForm" >
                                    <span ng-hide="submittingLoginForm">LOG ME IN</span>
                                    <span ng-show="submittingLoginForm"><i class="fa fa-spinner fa-spin"></i>  Processing Log In...</span>
                                </button>
                            <!--</div>&lt;!&ndash; End .col-md-6 &ndash;&gt;-->
                        </div><!-- End .row -->



                    </fieldset>
                </form>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->

        <hr class="hr1">

        <div class="row" style="margin-top: 20px">
            <!---->
            <!--href="/facebook/login" target="_blank"-->
            <button class="facebook btn btn-sm btn-facebook center-block col-xs-10"  social-media-login="facebook"><i class="fa fa-facebook-official"></i>   Login with Facebook</button>
            <div style="margin: 15px 0"></div>
            <button class="btn-foursquare btn-sm btn center-block col-xs-10" social-media-login="foursquare"><i class="fa fa-foursquare"></i>  Login with Foursquare</button>
        </div>
    </div>
    <div class="modal-footer hidden">
        <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        <button  class="btn btn-primary">Save</button>
    </div>
</div>

