<div class="col-sm-8 hidden">
    <div class="panel">
        <!--<div class="panel-heading"></div>-->
        <div class="panel-body">
            <accordion close-others="true" >
                <!--is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"-->
                <accordion-group ng-click="resizeChart()" ng-if="selected_question.question_type == 'close_ended'" heading="Chart" class="panel-primary" >
                    <tabset justified="true">
                        <tab select="changeChartType('BarChart')">
                            <tab-heading>
                                <i class="fa fa-list-ul"></i> Bar Chart
                            </tab-heading>
                            <div google-chart chart="chartObject" style="height:500px; width:100%;"></div>
                        </tab>

                        <tab select="changeChartType('PieChart')">
                            <tab-heading>
                                <i class="fa fa-pie-chart"></i> Pie Chart
                            </tab-heading>
                            <div google-chart chart="chartObject" style="height:500px; width:100%;"></div>
                        </tab>

                        <tab select="changeChartType('ColumnChart')">
                            <tab-heading>
                                <i class="fa fa-bar-chart"></i> Column Chart
                            </tab-heading>
                            <div google-chart chart="chartObject" style="height:500px; width:100%;"></div>
                        </tab>
                    </tabset>
                </accordion-group>
                <accordion-group heading="Map" class="panel-primary" is-open="mapAccordionIsOpen">
                    <div class="row">
                        <div class="col-sm-12">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-markers
                                        models="markers"
                                        idkey="'id'"
                                        refresh="mapAccordionIsOpen"
                                        coords="'points'">
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                    </div>

                </accordion-group>
                <accordion-group heading="Responses" class="panel-primary">
                    <div class="ticket_open">
                        <div class="ticket_open_heading">
                            <div class="ticket_open_search hidden">
                                <div class="btn-group"><i class="fa fa-search"></i></div>
                                <div class="input-group pull-left">
                                    <input type="text" placeholder="Search Response..." class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <a ng-show="selected_question.answers.length" class="ticket_open_comment" href="" ng-repeat="response in selected_question.answers | limitTo : maxSize">
                            <div class="btn-group"><i class="fa fa-comment"></i></div>
                            <span>{{ response.value}}</span>
                            <p>&nbsp;</p>
                            <div class="ticket_action">
                                <div class="ticket_action_view">i</div>
                            </div>
                        </a>
                    </div>

                    <h4 ng-hide="selected_question.answers.length" class="text-center" style="margin: 5% 0">No responses submitted!</h4>


                    <div style="margin: 0;" role="toolbar" class="btn-toolbar" ng-show="selected_question.answers.length">
                        <!--ng-show="totalItems > maxSize"-->
                        <pagination
                                total-items="totalItems"
                                items-per-page="maxSize"
                                ng-model="currentPage"
                                ng-change="pageChanged(currentPage)">
                        </pagination>
                    </div>


                </accordion-group>
                <accordion-group heading="Meta Data" class="panel-primary">
                    <p>Meta Data information</p>
                </accordion-group>
                <accordion-group heading="Report and Summary" class="panel-primary">
                    <p>Reports and summary of the survey</p>
                </accordion-group>
            </accordion>
        </div>

    </div>
    <!--close-others="oneAtATime"-->

    <!--<pre>{{ selected_question | json }}</pre>-->
</div>