<div class=" margin-60">
    <table class="table table-responsive h5">
        <tr class="h5 text-warning">
            <td >Auction Code </td>
            <td >{{ selected_auction.auction_code || '0000' }}</td>
        </tr>
        <tr>
            <td >Start Date </td>
            <td>{{ selected_auction.auction_start_date |  amDateFormat:' Do MMM, YYYY'  }}</td>
        </tr>
        <tr>
            <td>End Date </td>
            <td>{{ selected_auction.auction_end_date |  amDateFormat:' Do MMM, YYYY'  }}</td>

        </tr>
        <tr class="text-primary">
            <td >Cost Per Bid</td>
            <td>{{ selected_auction.auction_allowed_bid_amount }}&nbsp;&nbsp;bcs</td>
        </tr>
        <tr class="text-danger">
            <td >Average bids to win</td>
            <td>{{ averageBidsToWin || '---' }}</td>
        </tr>
        <tr class="text-success">
            <td >Your bids</td>
            <td>{{ punterBids || '---'}}<span ng-show="punterBids">&nbsp;&nbsp;bcs</span></td>
        </tr>
        <!--<tr>-->
            <!--<td>Brand:</td>-->
            <!--<td><a href="http://samsung.com" target="_blank">Samsung</a></td>-->
        <!--</tr>-->
    </table>
    <hr class="hr1">
</div>

<div class="row margin-top">
    <div class="" ng-if="(punter.account_active && punter.punter_current_status != 'inactive')">
        <div class="form-group  col-xs-12">
            <label class="control-label" for="bidAmountQuantity">Amount to bid : </label>
            <div class="input-group has-feedback">
                <a href="" class="input-group-addon pointer" ng-show="bidAmountQuantity > 1" ng-click="decrementBidValue()"><span href=""> <i class="fa fa-angle-down"></i></span></a>
                <input type="text" class="form-control input-lg has-success" ng-disabled="true" id="bidAmountQuantity" ng-model="bidAmountQuantity" name="bidAmountQuantity">
                <span class="form-control-feedback hidden-sm hidden-xs" aria-hidden="true">{{ app_name }} credits</span>
                <span class="form-control-feedback hidden-md hidden-lg" aria-hidden="true" style="top: 5px !important; right: 30px !important;">bcs</span>
                <a href="" class="input-group-addon pointer" ng-click="incrementBidValue()"><span> <i class="fa fa-angle-up"></i></span></a>
            </div>
        </div>

        <div class="col-xs-12  text-center" tooltip="Top up wallet before placing bid"
             ng-if="!(punter.user_wallet && punter.user_wallet.amount_available_in_wallet)">
            <!--col-xs-12 col-sm-4 col-sm-offset-4-->
            <a href="" class="btn btn-warning btn-lg"
                    ng-click="goToTopUp()">Place Bid
            </a>
        </div>

        <div class="col-xs-12  text-center" ng-if="(punter.user_wallet && punter.user_wallet.amount_available_in_wallet)">
            <!--col-xs-12 col-sm-4 col-sm-offset-4-->
            <a href="" class="btn btn-warning btn-lg"
                    ng-disabled="placingBid" place-bid-modal=""
                    data-bid-amount="{{ bidAmountQuantity }}"
                    data-auction-id="{{ selected_auction.id }}">

                <span ng-show="placingBid"><i class="fa fa-spinner fa-spin"></i> Processing ...</span>
                <span ng-hide="placingBid">Place Bid</span>
            </a>
        </div>
    </div>

</div>

<div class="row margin-top" >
    <div class="col-sm-12"  ng-if="leaderBoard.length">
        <p class="text-center h4">Leading Bid Value</p>
        <p class="text-center h3 text-success">{{ leaderBoard[0].total_bid_amount}}</p>
    </div>
    <div class="col-sm-12 well"  ng-if="lastBidder">
        <p class="text-center h4">Last Bidder</p>
        <p class="text-center h5 text-muted">{{ lastBidder }}</p>
    </div>
</div>



            