<div class="auction-item" style="min-height: 469px; margin: 0 0 20px 0 !important;">
    <h3 class="item-name text-center"><a ng-click="bidNow(auctionPostionOnHomePage[place].id)" href="">{{ auctionPostionOnHomePage[place].item.item_name || 'Auction Unavailable' }}</a></h3>
    <hr>
    <div class="col-xs-12">
        <span ng-if="auctionPostionOnHomePage[place].startStatus == 'completed' " class="pointer closedStamp"  show-endorsed-winner="{{auctionPostionOnHomePage[place].id}}"><img src="punters/assets/images/closed-stamp.png"></span>
        <figure class="text-center" style="min-height: 150px">
            <a ng-click="bidNow(auctionPostionOnHomePage[place].id)" href="">
                <!--src="/punters/assets/images/products/phone1.jpg"-->
                <img ng-src="{{ auctionPostionOnHomePage[place].item.item_thumbnail_url }}"  alt="{{ auctionPostionOnHomePage[place].item.item_name }}" class="item-image" ng-class="{'desaturate' : auctionPostionOnHomePage[place].startStatus == 'completed' }" width="150px">
            </a>
        </figure>
    </div>
    <div class="col-xs-12 ">
        <div class="row" title="Recommended Retail Price">
            <p class="col-xs-12 text-center"><span>Retail Price</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                <strong ng-show="auctionPostionOnHomePage[place].auction_retail_price" style="text-decoration: line-through">{{ (auctionPostionOnHomePage[place].auction_retail_price| currency : 'GHc '  :  2) }}</strong>
                <strong ng-hide="auctionPostionOnHomePage[place].auction_retail_price"> 0.00</strong>
            </p>

            <!--<span  class="col-xs-6 retail-price text-left">Retail Price</span>-->
            <!--<span  class="col-xs-6 retail-price text-right">-&nbsp;&nbsp;{{ auctionPostionOnHomePage[place].auction_retail_price| currency : 'GHc '  :  2 || '0.00'}}</span>-->
        </div>
    </div>
    <div class="col-xs-12 ">
        <div class="row" title="Auction Price">
            <p class="col-xs-12 text-center"><span>Auction Price</span>&nbsp;&nbsp;-&nbsp;&nbsp;<strong>{{ (auctionPostionOnHomePage[place].auction_price| currency : 'GHc '  :  2) || '0.00'}}</strong></p>

            <!--<span  class="col-xs-6 auction-price text-left">Auction Price</span>-->
            <!--<span  class="col-xs-6 auction-price text-right">-&nbsp;&nbsp;{{ auctionPostionOnHomePage[place].auction_price | currency : 'GHc '  :  2 || '0.00'}}</span>-->
        </div>
    </div>
    <br>
    <div class="row margin-top-15" style="margin-bottom: 0 !important;padding-bottom: 0 !important;">
        <span class="col-xs-12 text-center  hidden ">KofiCracker <span class="bid2win_credits hidden"><i>(2000 bcs)</i></span></span>

        <div class="col-xs-12">
            <a  ng-if="auctionPostionOnHomePage[place].startStatus == 'running'"
                ng-click="bidNow(auctionPostionOnHomePage[place].id)" href=""
                class="btn btn-warning  center-block text-center col-xs-6">
                <span class="">Bid Now</span>
            </a>
            <a ng-if="auctionPostionOnHomePage[place].startStatus == 'completed' "
               class="btn btn-primary  center-block text-center col-xs-6" href="">
                <span class="endorsedWinnerButton" show-endorsed-winner="{{auctionPostionOnHomePage[place].id}}" >See Winner</span>
            </a>

        </div>
    </div>
    <hr>
    <div class="row">
        <p class="col-xs-12"><span>Start Date</span>&nbsp;&nbsp;:&nbsp;&nbsp;<strong>{{(auctionPostionOnHomePage[place].auction_start_date |  amDateFormat:' Do MMM, YYYY' ) || 'Unavailable'}}</strong></p>
        <!--/  {{ max[place] }}--><!--class="col-xs-12!-->
        <progressbar  class="row progress-striped active" title="{{ auctionPostionOnHomePage[place].progressTitle }}" value="auctionPostionOnHomePage[place].progressValue" max="100" type="{{auctionPostionOnHomePage[place].progessType}}"> <b>{{auctionPostionOnHomePage[place].progressInfo}}</b></progressbar>

        <p class="col-xs-12 text-right"><span>End Date</span>&nbsp;&nbsp;:&nbsp;&nbsp;<strong>{{(auctionPostionOnHomePage[place].auction_end_date |  amDateFormat:' Do MMM, YYYY' ) || 'Unavailable'}}</strong></p>

    </div>
    <br>
    <div class="row">
        <span class="col-xs-12 minimum-bid-amount text-center text-capitalize">Cost per bid</span>
        <span class="col-xs-12 minimum-bid-amount text-center" title="Minimum Cost Per bid">
            {{ auctionPostionOnHomePage[place].auction_allowed_bid_amount || '0'}}&nbsp;bcs</span>

    </div>
</div><!--auction-item-->