<div class="" ui-view="" autoscroll="false">


    <!--Carousel--><!--style="height: 424px; min-height: 424px; max-height: 424px"-->
    <div id="main-slide" class="carousel slide add-shadow" data-ride="carousel" >

        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#main-slide" data-slide-to="0" class="pointer active"></li>-->
        <!--<li data-target="#main-slide" data-slide-to="1" class="pointer"></li>-->
        <!--<li data-target="#main-slide" data-slide-to="2" class="pointer"></li>-->
        <!--<li data-target="#main-slide" data-slide-to="3" class="pointer"></li>-->
        <!--</ol>-->
        <!--/ Indicators end-->

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="{{image_indicator}}" ng-class="{'active' : $index == 0}"
                class="pointer" ng-repeat="image_indicator in sliderImagesCounter"></li>
        </ol><!--/ Indicators end-->


        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item" ng-repeat="image in sliderImages" ng-class="{'active' : $index == 0}">
                <!--/punters/assets/images/slider/bg1.jpg-->
                <img class="img-responsive" ng-src="{{ image.advert_image_url }}" alt="slider">
                <div class="slider-content" style="height: 424px; min-height: 424px; max-height: 424px">
                    <div class="col-md-12 text-left hidden-sm hidden-xs">
                        <!--<h3 class="animated2 white hidden">-->
                            <!--<span>High quality products available</span>-->
                        <!--</h3>-->
                        <!--<h3 class="animated3 white hidden">-->
                        <!--<span>The ultimate aim of auction fun</span>-->
                        <!--</h3>-->
                        <div class="animated4 pull-left">
                            <a ng-href="{{ image.click_destination_url }}" target="_blank" class="slider btn btn-primary" style="margin: 160px 0 0 140px;">See More</a></div>
                    </div>
                </div>
            </div><!--/ Carousel item end -->
        </div><!-- Carousel inner end-->

        <!--&lt;!&ndash; Controls &ndash;&gt;#main-slide-->
        <a class="left carousel-control" href="" data-target="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="" data-target="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!--Carousel End-->


    <div class="section add-shadow" style="margin: 20px 0; padding: 25px 0 1px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
        <!--style="padding: 0 0 0 3px !important; margin: auto 0 !important; width: 100% !important;"-->
        <!--class="container"-->
        <div  >

            <div class="row" style="margin: 0 0 10px 0 !important;">

                <!--Auction Position -->
                <div class=" col-lg-3  col-sm-6 col-xs-12" data-ng-repeat="place in [1,2,3,4]">
                    <div ng-include=" 'public/home/auction-item.tpl.html' "></div><!--auction-item-->
                </div><!-- End .col-md-3 -->
                <!--End Auction Position -->


            </div>

            <div class="clearfix"></div>


            <div class="row" style="margin: 0 0 10px 0 !important;">

                <!--Auction Position   [5,6,7,8]   -->
                <!--Auction Position -->
                <div class=" col-lg-3  col-sm-6 col-xs-12" data-ng-repeat="place in [5,6,7,8]">
                    <div ng-include=" 'public/home/auction-item.tpl.html' "></div><!--auction-item-->
                </div><!-- End .col-md-3 -->
                <!--End Auction Position -->
                <!--End Auction Position -->


            </div>



        </div>
    </div>



</div><!-- End .container -->
