<div class="user-profile-content">
    <form role="form">

        <div class="row small-width-margin-bottom">
            <div class="col-xs-12">
            <span class="btn " ng-class="unEditMode ? 'btn-primary' : 'btn-warning' "  ng-click="changeEditMode()">
            <i class="fa " ng-class="unEditMode ? 'fa-unlock' : 'fa-lock' "></i> <span ng-if="unEditMode">En</span><span ng-if="!(unEditMode)">Dis</span>able Edit Mode</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" ng-disabled="unEditMode" class="form-control" id="first_name" ng-model="punterProfile.first_name">
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label for="other_names">Other Names</label>
                <input type="text" ng-disabled="unEditMode" class="form-control" id="other_names" ng-model="punterProfile.other_names">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="email">Email</label>
                <input type="email" ng-disabled="true" class="form-control" id="email" ng-model="punterProfile.email" >
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label for="phone_number">Phone Number</label>
                <input type="text" ng-disabled="true" class="form-control" id="phone_number" ng-model="punterProfile.phone_number">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="date_of_birth">Date of Birth</label>
                <input id="date_of_birth" type="text"
                       placeholder="Your date of birth"
                       ng-disabled="unEditMode"
                       name="date_of_birth" ng-model="punterProfile.date_of_birth" class="form-control datepicker"
                       data-value="{{punterProfile.date_of_birth}}">
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <label for="gender">Gender</label>
                <select class="form-control" ng-disabled="unEditMode" id="gender" ng-model="punterProfile.gender">
                    <option value="">Select an option</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="marital_status">Marital Status</label>
                <select ng-disabled="unEditMode" class="form-control" id="marital_status" ng-model="punterProfile.marital_status">
                    <option value="">Select an option</option>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="divorced">Divorced</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-6">
                <label for="occupation">Occupation</label>
                <input ng-disabled="unEditMode" type="text" class="form-control" id="occupation" ng-model="punterProfile.occupation">

                <!--<select  class="form-control" id="occupation" ng-model="punterProfile.occupation">-->
                <!--<option value="">Select an option</option>-->
                <!--<option value="male">Male</option>-->
                <!--<option value="female">Female</option>-->
                <!--</select>-->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="region">Region</label>
                <select ng-disabled="unEditMode" class="form-control" id="region" ng-model="punterProfile.region">
                    <option value="">Select a region</option>
                    <option value="Greater Accra">Greater Accra</option>
                    <option value="Ashanti">Ashanti</option>
                    <option value="Brong Ahafo">Brong Ahafo</option>
                    <option value="Central">Central</option>
                    <option value="Eastern">Eastern</option>
                    <option value="Western">Western</option>
                    <option value="Volta">Volta</option>
                    <option value="Northern">Northern</option>
                    <option value="Upper East">Upper East</option>
                    <option value="Upper West">Upper East</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-md-6">
                <label for="city">City</label>
                <input ng-disabled="unEditMode" type="text" class="form-control" id="city" ng-model="punterProfile.city" >
            </div>

        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label for="suburb">Suburb</label>
                <input ng-disabled="unEditMode" type="text" class="form-control" id="suburb" ng-model="punterProfile.suburb">
            </div>

            <div class="form-group col-xs-12 col-md-6">
                <label for="postal_address">Postal Address</label>
                <input ng-disabled="unEditMode" type="text" class="form-control" id="postal_address" ng-model="punterProfile.postal_address">

                <!--<select  class="form-control" id="occupation" ng-model="punterProfile.occupation">-->
                <!--<option value="">Select an option</option>-->
                <!--<option value="male">Male</option>-->
                <!--<option value="female">Female</option>-->
                <!--</select>-->
            </div>
        </div>


        <div class="form-group">
            <label for="AboutMe">About Me</label>
            <textarea ng-disabled="unEditMode" ng-model="punterProfile.bio" class="form-control" id="AboutMe" style="height: 80px;">{{ punterProfile.bio || 'Not updated'}}</textarea>
        </div>

        <div class="row small-width-margin-bottom">
            <div class="col-xs-12">
                <button ng-click="editPunterProfile()" ng-if="!(unEditMode)" ng-disabled="submittingLoginForm" class="btn btn-success pull-right">
                    <i class="fa fa-spinner fa-spin" ng-show="submittingLoginForm"></i>  Save</button>
            </div>
        </div>


    </form>
</div>