<!--<div class="row" style="margin: 10px !important;">-->
    <!--<div class="col-md-6">-->
        <!--<h2>Profile</h2>-->
        <!--&lt;!&ndash;<p>Sign in page</p>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
        <!--<ul class="breadcrumbs">-->
            <!--<li><a href="#/">Home</a></li>-->
            <!--<li>Profile</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div id="content" class="add-shadow" style="margin-bottom: 20px">
    <div class=" clear_both padding_fix" style="margin: 10px !important;">
        <!--\\\\\\\ container  start \\\\\\-->
        <div class="page-content">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <div class="profile_bg center-block">
                        <div class="user-profile-sidebar">
                                <div class="col-md-4 col-xs-6"  upload-avatar="">
                                    <img width="150px" height="150px" ng-src="{{punter.avatar_url}}" class="pointer img-circle"  >
                                    <button class="btn btn-default" style="font-size: 10px">Change Avatar</button>
                                </div>
                                <div class="col-md-8 col-xs-6">
                                    <div class="user-identity">
                                        <div class="row">
                                            <h4 ng-if="punter.first_name && punter.other_names"><strong>{{ punter.first_name }}&nbsp;{{ punter.other_names }}</strong><span>   &nbsp;({{ punter.username }})</span></h4>
                                            <h4 ng-if="!(punter.first_name && punter.other_names)"><strong>{{ punter.username }}</strong></h4>
                                        </div>
                                        <p class="row">
                                            Account Status : <span class="label label-warning">{{ punter.punter_current_status_format  | uppercase }}</span></span>
                                        </p>
                                        <p class="row" ng-show="punter.email"><i class="fa fa-envelope"></i>
                                            <span >{{ punter.email }}</span>
                                        </p>
                                        <p class="row" ng-show="punter.phone_number"><i class="fa fa-mobile-phone"></i>
                                            <span >{{ punter.phone_number }}</span>
                                        </p>
                                        <p class="row" ng-show="punter.suburb && punter.city && punter.region"><i class="fa fa-map-marker"></i>
                                            <span ng-show="punter.suburb">{{ punter.suburb }}</span>
                                            <span ng-show="punter.city"> - {{ punter.city }}</span>
                                            <span ng-show="punter.region">, ({{ punter.region }})</span>
                                        </p>
                                    </div>
                                </div>
                        </div>
                        <div class="account-status-data ">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h6 class="text-muted text-center">Last Login<br>
                                        <strong>{{ ( punter.last_login | amDateFormat:' Do MMM, YYYY  HH:mm') }}</strong><br>
                                        <span ng-if="!(punter.last_login)" class="text-warning" style="margin-top: 15px; display: inline-block;">Recently</span>
                                        <small><span  am-time-ago="punter.last_login"></span></small>
                                    </h6>
                                </div>
                                <div class="col-md-4 col-xs-12"  style="border-left: solid 1px rgb(204, 204, 204)">
                                    <h6 class="text-muted text-center">Last Bid Date<br>
                                        <strong ng-if="punter.last_bid_date">{{ punter.last_bid_date | amDateFormat:' Do MMM, YYYY  HH:mm' }}</strong>
                                        <span ng-if="!(punter.last_bid_date)" class="text-warning" style="margin-top: 15px; display: inline-block;">No bids placed</span>
                                        <br>
                                        <small><span  am-time-ago="punter.last_bid_date"></span></small>
                                    </h6>
                                </div>
                                <div class="col-md-4 col-xs-12" style="border-left: solid 1px rgb(204, 204, 204)">
                                    <h6 class="text-muted text-center">Last Top Up<br>
                                        <strong ng-if="punter.user_wallet.date_of_latest_wallet_top">{{ punter.user_wallet.date_of_latest_wallet_top | amDateFormat:' Do MMM, YYYY  HH:mm' }}</strong>
                                        <span ng-if="!(punter.user_wallet.date_of_latest_wallet_top)" class="text-warning" style="margin-top: 12px; display: inline-block;">Never topped up</span>
                                        <br>
                                        <small><span  am-time-ago="punter.user_wallet.date_of_latest_wallet_top"></span></small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="user-button margin-top ">
                            <div class="row">
                                <div  class="col-xs-12 col-md-4 small-width-margin-bottom" ng-if="punter.punter_current_status == 'inactive' ">
                                    <button type="button" verify-punter-modal="" class="btn btn-success btn-sm btn-rounded center-block button-width"><i class="fa fa-check"></i> Enter Code</button>
                                </div>
                                <div class="col-xs-12 col-md-4 small-width-margin-bottom" ng-if="punter.punter_current_status == 'inactive' ">
                                    <button type="button" ng-click="resendCode()" class="btn btn-primary btn-sm btn-rounded center-block button-width"><i class="fa fa-send-o"></i> Resend Code</button>
                                </div>
                                <div class="col-xs-12 col-md-4 small-width-margin-bottom" ng-if="!(punter.punter_current_status == 'inactive')">
                                    <button type="button" ng-click="$state.go('public_home.topup')" class="btn btn-primary btn-sm btn-rounded center-block button-width"><i class="fa fa-money"></i> Top Up Wallet</button>
                                </div>
                                <div class="col-xs-12 col-md-4 small-width-margin-bottom" ng-if="!(punter.punter_current_status == 'inactive')">
                                    <button type="button" pay-annual-fee="" class="btn btn-sm btn-default btn-rounded center-block button-width"><i class="fa fa-calendar-o"></i> Pay Annual Fee</button>
                                </div>
                                <div class="col-xs-12 col-md-4 small-width-margin-bottom">
                                    <button type="button" ng-click="logoutPunter()" class="btn btn-sm btn-danger btn-rounded center-block center-block button-width"><i class="fa fa-sign-out"></i> &nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top" ng-if="square_pop_upImages" ng-controller="BwPublicGeneralController">
                            <div class="col-md-12 hidden-sm hidden-xs">
                                <a target="_blank" class="" ng-href="{{ square_pop_upImages.click_destination_url }}">
                                    <img class="center-block "  width="250" height="250"
                                         style="max-width : 250px; max-height: 250px" ng-src="{{ square_pop_upImages.advert_image_url }}" alt="Advertisement">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/block-web-->
                </div>
                <!--/col-md-5-->
                <div class="col-md-7 col-xs-12">
                    <div class="block-web full">
                        <ul class="nav nav-tabs nav-justified nav_bg">
                            <li class="active"><a  href="" data-target="#my_info" data-toggle="tab"><i class="fa fa-user"></i> My Info</a></li>
                            <li class=""><a href=""  data-target="#wallet" data-toggle="tab"><i class="fa fa-briefcase"></i> Wallet</a></li>
                            <li class=""><a  href="" data-target="#auctions" data-toggle="tab"><i class="fa fa-clock-o"></i> Auctions</a></li>
                            <li class=""><a href=""  data-target="#preferences" data-toggle="tab"><i class="fa fa-cogs"></i> Preferences</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane animated fadeInRight active in" id="my_info">
                                <div ng-include="'public/profile/my_info.tpl.html' "></div>
                            </div>
                            <div class="tab-pane animated fadeInRight" id="wallet">
                                <div ng-include="'public/profile/punter_wallet.tpl.html' "></div>
                            </div>
                            <div class="tab-pane animated fadeInRight" id="auctions">
                                <div ng-include="'public/profile/punter_auctions.tpl.html' "></div>
                            </div>
                            <div class="tab-pane animated fadeInRight" id="preferences">
                                <div ng-include="'public/profile/punter_settings.tpl.html' "></div>
                            </div>
                        </div>
                        <!--/tab-content-->
                    </div>
                    <!--/block-web-->
                </div>
                <!--/col-md-7-->
            </div>
            <!--/row-->
        </div>
    </div>
</div>
<!-- End content -->


